* {
  font-family: "Aeroport", sans-serif;
  box-sizing: border-box;
}

body {
  background: url("../src/main_back.jpg") no-repeat fixed;
}
body a, body button {
  color: white;
}
body a:hover, body button:hover {
  transition: color 0.3s;
  color: #ca9b65 !important;
  text-decoration: none;
}
body a:active, body button:active {
  font-weight: 500;
}
body button:active, body button:focus, body button:visited {
  outline: none;
}
body header .navbar-brand {
  font-size: 18px !important;
  text-transform: uppercase;
}
body header .custom-logo-link {
  display: block;
  margin: 0 auto;
  width: fit-content;
}
body header .custom-logo-link .custom-logo {
  height: 50px;
  width: auto;
}
body header .main_rus li, body header .main_eng li {
  list-style: none;
}
@media screen and (max-width: 767px) {
  body header .main_rus, body header .main_eng {
    position: absolute;
    top: 100%;
  }
}
body header .lang-item {
  list-style: none;
  margin: 0 20px;
}
body header .lang-item a {
  text-transform: uppercase;
  color: white;
}
body .section-main_top {
  margin-top: 200px;
}
body .section-main_top h1 {
  font-size: 48px;
  font-weight: 300;
}
body .section-main_top #video-bg {
  position: relative;
  max-width: 1087px;
  margin: 92px auto 0 auto;
}
body .section-main_top #video-bg .showreel-container {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .section-main_top #video-bg .showreel-container .start-video {
  display: block;
  margin: 0 auto;
  padding: 12px;
  width: 64px;
  height: 64px;
  cursor: pointer;
  transition: all 0.1s;
  background: url("../src/player_button.png") no-repeat;
  background-size: 100%;
}
@media screen and (max-width: 425px) {
  body .section-main_top #video-bg .showreel-container .start-video {
    width: 44px;
    height: 44px;
    padding: 0;
  }
}
body .section-main_top #video-bg .showreel-container .start-video_text.start-video {
  background: none;
  width: max-content;
  height: unset;
  color: white;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  transition: all 0.1s;
}
body .section-main_top #video-bg .showreel-container .start-video_text.start-video:hover {
  color: #C99B69;
}
@media screen and (max-width: 425px) {
  body .section-main_top #video-bg .showreel-container .start-video_text.start-video {
    font-size: 18px;
  }
}
body .section-main_top #video-bg .showreel-container:hover .start-video {
  background: url("../src/player_button_hov.png");
  background-size: 100%;
}
body .section-main_top #video-bg .showreel-container:hover .start-video.start-video_text {
  color: #C99B69;
  background: none;
  width: max-content;
  height: unset;
}
body .section-main_top #video-bg .showreel-container:active .start-video {
  background: url("../src/player_button_hov.png");
  background-size: 100%;
}
body .section-main_top #video-bg .showreel-container:active .start-video.start-video_text {
  color: #C99B69;
  background: none;
  width: max-content;
  height: unset;
  font-weight: 400;
}
body .section-main_top #video-bg .showreel-container:active {
  font-weight: 400;
}
body .section-main_top #video-bg div.thumbnail_container {
  max-width: 1087px;
  max-height: 498px;
  overflow: hidden;
  background-color: #000;
  border-radius: 20px;
  margin: 0 auto;
}
body .section-main_top #video-bg img.thumbnail {
  margin-top: -50px;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
body .section-main_top #video-bg #player {
  border-radius: 20px;
}
body footer .footer-logo img {
  width: 130px;
  height: 100%;
}
body footer .foot_menu, body footer .social-links {
  font-size: 18px;
  font-weight: 300;
}
body footer .footer-information .footer-information__left a, body footer .footer-information .footer-information__left p {
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  margin: 0 25px;
  transition: all 0.2s;
  cursor: default;
}
body footer .footer-information .footer-information__left a:hover, body footer .footer-information .footer-information__left p:hover {
  color: #ca9b65;
}
body footer .footer-information .footer-information__left a {
  cursor: pointer;
}
body footer .footer-information .social-links a {
  color: #888;
  margin: 0 7px;
}
body #our_projects {
  margin-top: 240px;
}
body #our_projects .single-post {
  position: relative;
  display: block;
  height: 471px;
  overflow: hidden;
  transition: all 0.3s;
}
body #our_projects .single-post .single-post_image {
  position: absolute;
  top: -50%;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
body #our_projects .single-post .post-contents {
  position: absolute;
  color: white !important;
  top: 50%;
  right: 0;
  z-index: 10;
  transform: translateY(-50%);
  visibility: visible;
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body #our_projects .single-post .post-contents .post-title {
  font-size: 36px;
  font-weight: 300;
}
body #our_projects .single-post .post-contents .post-text {
  font-size: 18px;
  font-weight: 300;
}
body #our_projects .single-post:nth-child(odd):hover .post-contents {
  visibility: hidden;
  opacity: 0.5;
  color: white !important;
}
body #our_projects .single-post:nth-child(odd):hover .single-post_image {
  transform: scale(1.15) translateY(-0.5rem);
}
body #our_projects .single-post:nth-child(odd) .post-gradient {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(227.16deg, #000000 17.77%, rgba(0, 0, 0, 0) 101.81%);
}
body #our_projects .single-post:nth-child(even):hover .post-contents {
  visibility: hidden;
  opacity: 0.5;
  color: white !important;
}
body #our_projects .single-post:nth-child(even):hover .single-post_image {
  transform: scale(1.15) translateY(-0.5rem);
}
body #our_projects .single-post:nth-child(even) .post-gradient {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(47deg, black 0%, rgba(255, 255, 255, 0) 100%);
}

/*# sourceMappingURL=style.css.map */
