.collapse{
  visibility: visible;
  opacity: 1;
  transition: all .3s;
}
.collapse:not(.show){
  display: block!important;
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
  @media screen and (min-width: 768px) {
    visibility: unset;
    opacity: 1;
  }
}

input[type=text], div[type=button] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.main-content{
  display: none;
}
.mgl-row{
  height: 500px!important;
}
.post-header{
  font-size: 48px;
  line-height: 57px;
  font-weight: 300;
  margin-top: 100px;
}
.post-text-head{
  color: rgba(255,255,255,.7);
  font-size: 24px;
  line-height: 22px;
  margin-bottom: 90px;
}

.neighbour_projects{
  color: white;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 75px;
  margin-top: 100px;
  font-weight: 300;
}

.wpcf7-response-output{
  display: none;
}
#c-form{
  .respon_mess{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    p{
      color: #C99B69;
    }
  }
}
.single-post-content{
  p{
    color: #929292;
    font-family: "Garamond", Serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    max-width: 811px;
    margin: 0 auto 20px;
    &:last-of-type{
      margin-bottom: 150px;
    }
  }
}
@media (min-width: 769px) and (max-width: 1023px)  {
  #activities{
    .activities-block{
      .activities-container{
        .second-activity{
          width: 38% !important;
        }
        .third-activity{
          width: 40% !important;
        }
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .footer-logo{
    display: block!important;
    .logo-container{
      width: 100%!important;
    }
    .logo_soc-buttons{
      justify-content: space-evenly;
      width: 100%!important;
      display: flex!important;
      max-width: 100%!important;
    }
  }
  .contacts{
    font-size: 15px;
  }
}

@media screen and (max-width: 425px) {
  footer{
    .top-footer-line{
      .foot_menu{
        ul{
          li{
            display: block;
            margin: 10px 0;
          }
        }
      }
    }
    .footer-logo{
      margin: 100px auto!important;
    }
  }
}
