.collapse{
  visibility: visible;
  opacity: 1;
  transition: all .3s;
}
.collapse:not(.show){
  display: block!important;
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
  @media screen and (min-width: 768px) {
    visibility: unset;
    opacity: 1;
  }
}
.submit-hidden{
  display: none!important;
}
.agree{
  display: none!important;
}
input[type=text], div[type=button] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.main-content{
  display: none;
}
.mgl-row{
  height: 500px!important;
}
.post-header{
  font-size: 48px;
  line-height: 57px;
  font-weight: 300;
  margin-top: 100px;
}
.post-text-head{
  color: rgba(255,255,255,.7);
  font-size: 24px;
  line-height: 22px;
}

.neighbour_projects{
  color: white;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 75px;
  margin-top: 100px;
  font-weight: 300;
}

.wpcf7-response-output{
  display: none;
}
#c-form{
  .respon_mess{
    width: 500px;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    p{
      color: #C99B69;
    }
  }
}

// Basic styles
.link-button {
  //background: none;
  border: 0;
  border-radius: 10px;
  //box-sizing: border-box;
  //margin: 1em;
  //padding: 1em 2em;

  // Using inset box-shadow instead of border for sizing simplicity
  //box-shadow: inset 0 0 0 2px $red;
  color: #C99B69;
  font-size: inherit;
  font-weight: 700;

  // Required, since we're setting absolute on pseudo-elements
  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.draw {
  transition: color 0.25s;

  &::before,
  &::after {
    // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
    border: 1px solid transparent;
    border-radius: 10px;
    width: 0;
    height: 0;
  }

  // This covers the top & right borders (expands right, then down)
  &::before {
    top: 0;
    left: 0;
  }

  // And this the bottom & left borders (expands left, then up)
  &::after {
    bottom: 0;
    right: 0;
  }
}
  .draw.hovered {
    color: #C99B69;
  }

  // Hover styles
.draw.hovered::before,
.draw.hovered::after {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

.draw.hovered::before {
    border-top-color: #C99B69; // Make borders visible
    border-right-color: #C99B69;
    transition:
            width 0.15s ease-out, // Width expands first
            height 0.15s ease-out 0.15s; // And then height
  }

.draw.hovered::after {
    border-bottom-color: #C99B69; // Make borders visible
    border-left-color: #C99B69;
    transition:
            border-color 0s ease-out 0.3s, // Wait for ::before to finish before showing border
            width 0.15s ease-out 0.3s, // And then exanding width
            height 0.15s ease-out 0.45s; // And finally height
  }

.single-post-content{
  margin-top: 90px;

  .project_image{
    visibility: hidden;
  }
  p{
    color: #929292;
    font-family: "GaramondLight", Serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    max-width: 811px;
    margin: 0 auto 20px;
    &:last-of-type{
      margin-bottom: 150px;
    }
  }
  .d-flex{
    &:first-of-type{
      margin-top: 150px;
    }
  }
  .proj-one-img {
    .full_width {
      width: 100%;
    }
  }
  .proj-two-img {
    justify-content: space-between;
    span{
      width: 49%;
      .half_width{
        width: 100%;
      }
      @media screen and (max-width: 568px){
        width: 100%!important;
        &:last-child{
          padding-top: 25px;
        }
      }
    }
    @media screen and (max-width: 568px){
      display: block!important;
    }
  }
}
@media (min-width: 769px) and (max-width: 1023px)  {
  #activities{
    .activities-block{
      .activities-container{
        .second-activity{
          width: 38% !important;
        }
        .third-activity{
          width: 40% !important;
        }
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .footer-logo{
    display: block!important;
    .logo-container{
      width: 100%!important;
    }
    .logo_soc-buttons{
      justify-content: space-evenly;
      width: 100%!important;
      display: flex!important;
      max-width: 100%!important;
    }
  }
  .contacts{
    font-size: 15px;
  }
}

@media screen and (max-width: 425px) {
  footer{
    .top-footer-line{
      .foot_menu{
        ul{
          li{
            display: block;
            margin: 10px 0;
          }
        }
      }
    }
    .footer-logo{
      margin: 100px auto!important;
    }
  }
}
.fixed-action-btn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50px;
  color: rgba(255,255,255,.7);
  border: 1px solid rgba(255,255,255,.7);
  transition: all .3s ease-in;
  cursor: pointer;
  z-index: 400;
  .to-top{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  &:hover{
    color: #C99B69;
    border: 1px solid #C99B69;
  }
}
