.collapse{
  visibility: visible;
  opacity: 1;
  transition: all .3s;
}
.collapse:not(.show){
  display: block!important;
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
  @media screen and (min-width: 768px) {
    visibility: unset;
    opacity: 1;
  }
}

input[type=text], div[type=button] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.main-content{
  display: none;
}